# Server
NODE_ENV=development
PORT=3000
BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173

# Database
DATABASE_URL=postgresql://database:db-password@localhost:5432/db-name
DIRECT_URL=postgresql://database:db-password@localhost:5432/db-name

# Auth
JWT_SECRET=your_JWT_SECRET
JWT_EXPIRES_IN=7d

# Cloudinary (fill in when ready)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=